.modal{
    background-color: white;
    height: 70vh;
    width: 50vh;
    margin: 5% auto;
    display: grid;
    padding: 30px;
}
.MuiFormControl-root{
    width: 100%;
}
.modal h2{
    margin: 0;
}
.modal > div, .modal > form > div {
    margin-bottom: 20px;
}
.main-material{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.main-material .cardBlock {
    width: 90%;
    height: auto;
}
.cardBlock{
    width: 40%;
    height: 20%;
    border-radius: 30px;
    margin: 10px;
}
.cardBlock h2{
    font-size: 30px;
}
.cardBlock p{
    font-size: 20px;
}